/* Barcode Scanner container with a fixed size and centered content */
.barcode-scanner-container {
	position: relative;
	width: 300px; /* Change this to adjust the size of the scanner container */
	height: 300px;
	background-color: black;
	border-radius: 10px;
	margin: 20px auto;
	text-align: center;
	padding: 10px; /* Padding for the container */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: white;
}

/* Video container that will hold the camera feed */
.barcode-scanner-video-container {
	width: 100%;
	height: 100%;
}

/* Video element styles */
.barcode-scanner-video {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensure the video fills the container */
	border-radius: 10px; /* Optional: rounded corners for the video */
}

/* Error message for when there's an issue */
.barcode-scanner-error {
	color: red;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
}

/* Button container style */
.barcode-scanner-button-container {
	margin-top: 10px;
}

/* Button style for scanning actions */
.barcode-scanner-button {
	background-color: rgba(29, 19, 131, 0.84);
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

/* Button hover effect */
.barcode-scanner-button:hover {
	background-color:rgb(158, 136, 230);
}
