.book-card .card-img-top,
.book-card .card-img-bottom,
.book-thumbnail {
	width: auto !important;
	max-width: 100% !important;
	height: 300px;
	margin: 10px;
	border-radius: 10px 10px 0 0;
}

/* Styling the card */
.book-card {
	flex: 1 1 calc(33.33% - 1rem);
	max-width: 300px;
	min-width: 250px;
	margin-bottom: 1rem;
	box-sizing: border-box;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 12px ba(126, 91, 8, 0.7);
	transition: all 0.3s ease;
	background-color: rgb(232, 231, 231) !important;
	/* overflow: auto; */
}

/* Card hover effect */
.book-card:hover {
	transform: translateY(-10px); /* Slightly lift the card */
	box-shadow: 10px 10px 40px rgba(51, 195, 227, 0.6);
}

/* Card body styling */
.book-card .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding: 10px;
}

/* Styling the book title */
.book-title {
	margin-bottom: 10px;
	color: #333;
}

/* Styling authors and description */
.book-authors,
.book-description {
	font-size: 0.9rem;
	margin-bottom: 10px;
	color: #555;
}

.book-description {
	flex-grow: 1;
}
.book-description {
	flex-grow: unset;
	max-height: 60px;
	overflow: auto;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	color: #555;
	margin-bottom: 8px;
}

.btn {
	align-self: center;
	margin-top: 10px;
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

/* Button hover effect */
.btn:hover {
	background-color: rgb(28, 37, 225);
}

/* Mobile Responsive Styles */
@media (max-width: 767px) {
	.book-card {
		flex: 1 1 100%;
		width: 100%;
		min-width: 200px;
	}

	.book-thumbnail {
		height: 150px;
	}
}
