body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0 !important;
	font-family: "Open Sans", sans-serif;
}
h1 {
	font-family: "Courier New", monospace;
	font-size: 4rem !important;
	color: white !important;
	text-align: center;
	padding-top: 3rem;
	font-weight: 700 !important;
	overflow: hidden;
	text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.9), 0 0 30px rgb(39, 40, 35);
}

header {
	background-image: url("../public/book5.jpg") !important;
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 100%;
}

.custom-btn {
	background-color: rgb(26, 23, 23) !important;
	color: white;
	border: none;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

@media (max-width: 1024px) {
	h1 {
		font-size: 2.5rem;
	}
}

/* For mobile devices (screen width <= 767px) */
@media (max-width: 767px) {
	header {
		height: 300px;
	}
	h1 {
		margin-bottom: 1rem;
		word-wrap: break-word;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
	}
}
